OPENAI_API_KEY=YOUR_OPENAI_API_KEY
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_PROJECT=YOUR_LANGSMITH_PROJECT_NAME
JAVA_HOME=  Path of your java installation (C:\Program Files\Java\latest\jdk-21)