python-dotenv
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
pymupdf
sentence-transformers
chromadb
langsmith
pandas
openpyxl
tabula-py
jpype1
fastapi
uvicorn[standard]
python-multipart